<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <jmxConfigurator/>

    <property name="LOG_DIR" value="/var/log"/>
    <property name="APP_NAME" value="register"/>

    <!--日志文件输出格式-->
    <property name="fileLayoutPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n"/>

    <!-- mybatis会输出到控制台，只有把 root 中的 level="DEBUG" 设置，才会输出到文件中 -->
    <logger name="dao" level="DEBUG"/>

    <!-- 时间滚动输出 level为 INFO 日志 -->
    <appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_DIR}/${APP_NAME}/info/${APP_NAME}-info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${APP_NAME}/info/${APP_NAME}-info-%d{yyyyMMdd}.log.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${fileLayoutPattern}</Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="rollingFileAppender"/>
    </root>

</configuration>